/* ---- here's the fun-stuff */
:root {
    --highlight-vstart: 0.5em;
    --highlight-vend: 1.2em;
    --highlight-color: #cee74b;
    --highlight-range: 1000%;
  }
  
  .highlight {
    mix-blend-mode: multiply;
    background: 
      linear-gradient(to bottom,
        white, 
        white var(--highlight-vstart), 
        transparent var(--highlight-vstart), 
        transparent var(--highlight-vend), 
        white var(--highlight-vend), 
        white),
      
      linear-gradient(to right,
        var(--highlight-color), 
        var(--highlight-color) var(--highlight-range), 
        white var(--highlight-range), 
        white)
    ;
  }
  
  /* ---- boring css here... */
  .highlights{background: #cee74b;}
  tt { font-size: 0.75em; }
  .i-can-has-a-colored-thing { position: relative; }
  @media (min-width: 768px) {
    .content { max-width: 768px; margin: 0 auto; }
    
    .full-width { 
      position: relative;
      left: calc(-50vw + 768px / 2);
      width: 100vw;
    }
  }
  